@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.mainheader{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.centertext{
    text-align: center;
}

/* .mainbg{
    background-image: url('../images/grey.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


} */



/* body{
    background-image: url('../images/grey.jpg');
    background-image: linear-gradient(rgb(180, 180, 180), rgb(206, 206, 146));
   
    height: 200%;
  
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
