@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.mainheader{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.centertext{
    text-align: center;
}


/*////////// Stick Navbar:///////////////////////////////// */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }


/* /////////////////////////////////////////////////////// */


/* .mainbg{
    background-image: url('../images/grey.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


} */



/* body{
    background-image: url('../images/grey.jpg');
    background-image: linear-gradient(rgb(180, 180, 180), rgb(206, 206, 146));
   
    height: 200%;
  
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
