/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/* //////////////////////////////////////////////////////////////////////////////////////// */


.mainheader{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.centertext{
    text-align: center;
}

.profile-label{
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  text-align: center;
}
.profile-list{
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}

.profile-li{
  padding: 9px 0px; 
}

h1{
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

p{
  font-family: 'EB Garamond', sans-serif;
  font-size: 22px;
  text-align: justify;
}




/*////////// Sticky Navbar:///////////////////////////////// */
.header {
    background-color: rgb(240, 240, 137);
    padding: 10px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: rgb(146, 146, 62);
    color: white;
  }
  
  .content {
    padding: 16px;
   
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }





  /*///////// CSS Flexbox  ////////////////////////////////////// */

  .container-1{
    display: flex;
  }

  .container-1 div{
    /* border:1px #ccc solid; */
    padding:10px;
  }

  .box-1-1{
     display: flex;
     

  }

.fleximage{
  max-width:100%;
  object-fit: cover;


}

.centerfleximage{
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.flexvid{
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  
  
  
}








 



  /*/////////// CSS Grids //////////////////////////////////// */


  .grid-1{
    margin: 1rem ;
    width: min(90%, 75rem);
    display: grid;
     grid-template-columns: 35% 51% 33% ;  
    /* grid-auto-flow: column;
    gap: 2em */
    gap: 1em

  }


  .grid-2{
    margin: 1rem ;
    width: min(90%, 75rem);
    display: grid;
     grid-template-columns:22% 80% 33% ; 
    /* grid-auto-flow: column;
    gap: 2em */
    gap: 1em;
  
  }

  .grid-3{
    margin: 3rem ;
    width: min(90%, 75rem);
    display: grid;
     grid-template-columns:65% 50%; 
    /* grid-auto-flow: column;
    gap: 2em */
    gap: 1em;
  
  }






  








/* /////////////////////////////////////////////////////// */


/* .mainbg{
    background-image: url('../images/grey.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


} */



/* body{
    background-image: url('../images/grey.jpg');
    background-image: linear-gradient(rgb(180, 180, 180), rgb(206, 206, 146));
   
    height: 200%;
  
    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  table, th, td {
    border: 1px solid black;
  }

  .centerTable1 {
    margin-left: auto;
    margin-right: auto;
  }

  .centerTable2 {
    margin-left: auto;
    margin-right: auto;
  }

  .tableFontStyle{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
  
  }





